@import '~nativescript-theme-core/css/core.ruby.css';
AbsoluteLayout{
  width:100%;
  margin: 2rem;
}
Image{
  float: left;
  width: 50%;
  margin:2;
}
.thumbnail {
    height: 128px;
  }
  
  .project {
    padding: 32px;
  }
