@import '~nativescript-theme-core/css/core.ruby.css';
AbsoluteLayout{
  width:100%;
  margin: 2rem;
}

AbsoluteLayout section{
  float: left;
  width: 40%;
  margin-left:5%;
  margin-right:5%;
}
.thumbnail {
    height: 128px;
  }
  
  .project {
    padding: 32px;
  }
