.page {
    align-items: center;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:12;
  }
  .header{
    text-align: center;
    color: #1F4;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }
  Label{
    margin-bottom: 2;
  }
  Button{
    background-color: #1F4;
  }